/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vs/
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj
*.unityproj
*.opendb
*.VC.db
/TestResults/
/Assets/Resources/PerformanceTestRunInfo.json
/Assets/Resources/PerformanceTestRunInfo.json.meta
/Assets/Resources/PerformanceTestRunSettings.json
/Assets/Resources/PerformanceTestRunSettings.json.meta
/Assets/Resources.meta
